{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 class="text-6xl font-bold text-center mb-6">Welcome</h1>
<p class="text-center text-stone-900 dark:text-gray-300">Hello, World!</p>

<h2 class="text-3xl font-semibold mt-8 mb-4">Listado de Personas</h2>
<ul class="list-disc ml-8">
    {% for person in persons %}
        <li>
            <a href="{% url 'djangoapp:person' slug=person.slug %}" class="text-blue-600 hover:underline">
                {{ person.name }} ({{ person.birth }})
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
